@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --white-color: #ffffff;
  --blue-color: #0297d4;
  --black-color: #000000;
  --yellow-color: #fff5cc;
  --grey-color: #f2f4f8;
  --lightblue-color: #36acde;
  --darkblue-color: #077aa9;
  --bluetext-color: #6ad3ff;
  --darkgreen-color: #586c75;
  --grey-background: #f5f5f5;
}

.header_container {
  position: relative;
  top: 0;
  left: 0;
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: var(--white-color);
}

.header__content {
  display: flex;
  height: 156px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  gap: 135px;
}

.menu__icon {
  display: none;
}

.menu__list {
  display: flex;
}
.menu__list :not(:last-child) {
  margin-right: 78px;
}

.menu__link {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}

.default__btn {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 16px 36px;
  height: 56px;
  width: 335px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 120%;
  border: none;
  text-align: center;
  border-radius: 50px;
  transition: background-color 0.3s ease 0s;
}

.default__btn:hover {
  background-color: var(--lightblue-color);
}

.default__btn:focus:active {
  background-color: var(--darkblue-color);
}

:root {
  --white-color: #ffffff;
  --blue-color: #0297d4;
  --black-color: #000000;
  --yellow-color: #fff5cc;
  --grey-color: #f2f4f8;
  --lightblue-color: #36acde;
  --darkblue-color: #077aa9;
  --bluetext-color: #6ad3ff;
  --darkgreen-color: #586c75;
  --grey-background: #f5f5f5;
}

.footer {
  background-color: var(--darkgreen-color);
  height: 240px;
  padding-top: 41px;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__content > nav > a:not(:last-child) {
  margin-right: 63px;
}
.footer__content > nav > a {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 118.75%;
  text-transform: uppercase;
}

:root {
  --white-color: #ffffff;
  --blue-color: #0297d4;
  --black-color: #000000;
  --yellow-color: #fff5cc;
  --grey-color: #f2f4f8;
  --lightblue-color: #36acde;
  --darkblue-color: #077aa9;
  --bluetext-color: #6ad3ff;
  --darkgreen-color: #586c75;
  --grey-background: #f5f5f5;
}

[class*=__container] {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*="&_container"] {
  max-width: 828px;
  margin: 0 auto;
  padding: 0 15px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: SFProText;
  font-size: 20px;
}

:root {
  --white-color: #ffffff;
  --blue-color: #0297d4;
  --black-color: #000000;
  --yellow-color: #fff5cc;
  --grey-color: #f2f4f8;
  --lightblue-color: #36acde;
  --darkblue-color: #077aa9;
  --bluetext-color: #6ad3ff;
  --darkgreen-color: #586c75;
  --grey-background: #f5f5f5;
}

.banner {
  background-color: var(--grey-background);
}

.banner-bg {
  position: relative;
  height: 142px;
  width: 100%;
  background-color: var(--darkgreen-color);
}
.banner-bg span {
  text-decoration: underline;
  color: var(--bluetext-color);
}

.banner-bg h1,
.banner-bg h2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--white-color);
  font-size: 50px;
  line-height: 120%;
  letter-spacing: 0%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-bg_bottom,
.banner-bg_top {
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  height: 71px;
  width: 100%;
}

.banner-bg_top {
  background-image: url("../../assets/icon/truck1.png");
}

.banner-bg_bottom {
  background-image: url("../../assets/icon/truck2.png");
}

.banner__content {
  padding: 90px 0 80px 0;
}

.banner__list {
  list-style-type: none;
}
.banner__list > li:not(:last-child) {
  margin-bottom: 44px;
}

.banner__list-item {
  width: 100%;
  height: 526px;
  background-color: var(--white-color);
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 2px rgba(39, 52, 58, 0.15);
  padding: 40px 48px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.banner__list-item p {
  color: var(--black-color);
  font-size: 32px;
  font-weight: 600;
  line-height: 118.75%;
}
.banner__list-item span {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.banner__block {
  display: flex;
  gap: 28px;
}

.ev-param {
  list-style-type: none;
}
.ev-param > li:not(:last-child) {
  margin-bottom: 12px;
}

.ev-param-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 498px;
  padding: 16px 20px;
  background-color: var(--grey-color);
  border: none;
  border-radius: 10px;
}
.ev-param-item span {
  color: #777777;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}
.ev-param-item span:last-child {
  font-weight: 600;
}

.banner__btn-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.banner__btn-block a {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}
.banner__btn-block > a:nth-child(2) {
  gap: 8px;
}

.banner-btn:not(:last-child) {
  margin-bottom: 12px;
}

.banner__btn-block a:nth-child(2) {
  margin-bottom: 21px;
}

.banner__stop {
  background-color: var(--yellow-color);
  border: none;
  border-radius: 10px;
  height: 92px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 20px;
  margin-bottom: 21px;
}
.banner__stop > span:nth-child(1) {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #777777;
  font-weight: 400;
  line-height: 120%;
}
.banner__stop > span:nth-child(2) {
  color: #1b1e1f;
  font-weight: 400;
  line-height: 120%;
}

.ev-btn {
  background-color: inherit;
  border-radius: 50px;
  box-sizing: border-box;
  height: 69px;
  border: 1px solid var(--blue-color);
  padding: 16px 36px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  transition: all 0.3s ease 0s;
}
.ev-btn > span:first-child {
  color: var(--blue-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 116.6666666667%;
}
.ev-btn > span:last-child {
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
  line-height: 118.75%;
}

.ev-btn:hover {
  background-color: var(--blue-color);
}
.ev-btn:hover span {
  color: var(--white-color);
}

.ev-btn:focus:active {
  background-color: var(--darkblue-color);
}
.ev-btn:focus:active span {
  color: var(--white-color);
}

.banner__page-list {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.banner__page-list a {
  width: 52px;
  height: 52px;
  border-radius: 6px;
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
  font-size: 26px;
  font-weight: 600;
  line-height: 119.2307692308%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}
.banner__page-list a > li {
  display: flex;
  justify-content: center;
}
.banner__page-list a:not(:last-child) {
  margin-right: 18px;
}
.banner__page-list a:nth-child(1) {
  background-color: var(--blue-color);
  color: var(--white-color);
}
.banner__page-list a:last-child {
  padding: 13px 10px 10px 10px;
}

.callCheaply__banner {
  position: relative;
}

.banner-info {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  min-width: 1430px;
  justify-content: center;
  align-items: center;
}
.banner-info p {
  color: var(--white-color);
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin: 0 121px 0 11px;
}

.callCheaply__container {
  padding: 95px 15px 69px 15px;
}

.callCheaply__content {
  display: flex;
  justify-content: space-between;
}

.callCheaply__block-text {
  max-width: 698px;
}

.block-text {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  padding: 10px 0;
}

.block-text__title {
  color: var(--dark-color);
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
}

.block-text__text {
  font-weight: 400;
  font-size: 26px;
  line-height: 119.2307692308%;
}

.needToKnow {
  background-color: var(--yellow-color);
}

.needToKnow__container {
  padding: 100px 15px;
}

.needToKnow__content {
  display: flex;
  flex-direction: column;
}
.needToKnow__content h2 {
  color: var(--dark-color);
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 48px;
}

.needToKnow__images {
  display: flex;
  width: 1055px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 32px;
}

.needToKnow__blocktext {
  display: flex;
  gap: 40px;
}
.needToKnow__blocktext > p {
  width: 680px;
  font-size: 26px;
  font-weight: 400;
  line-height: 119.2307692308%;
}

.price {
  background-color: #f3f6f9;
}

.price__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.price__content {
  display: flex;
  flex-direction: column;
}
.price__content h2 {
  color: var(--dark-color);
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 48px;
}
.price__content p {
  color: var(--dark-color);
  font-size: 26px;
  font-weight: 400;
  line-height: 119.2307692308%;
  margin-bottom: 105px;
}
.price__content p > span {
  font-weight: 600;
  font-size: 26px;
  line-height: 1px;
}

.price__block-columns {
  display: flex;
  gap: 24px;
}

.price__column-block {
  position: relative;
  width: 332px;
  height: 271px;
  background-color: var(--blue-color);
  border-radius: 20px;
  padding: 31px 20px 70px 20px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  z-index: 10;
}
.price__column-block h3 {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
}
.price__column-block p {
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 116.6666666667%;
  text-align: center;
}

.price-column canvas {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
  top: -75px;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url("../../assets/icon/1.svg");
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: auto;
  width: 149px;
  height: 149px;
  border-radius: 50%;
  background-color: var(--blue-color);
}

.block-canvas-2 canvas {
  background-image: url("../../assets/icon/2.svg");
}

.block-canvas-3 canvas {
  background-image: url("../../assets/icon/3.svg");
}

.block-canvas-4 canvas {
  background-image: url("../../assets/icon/4.svg");
}

.advantages {
  position: relative;
}

.advantages__container {
  padding-top: 100px;
}

.advantages__content {
  display: flex;
  flex-direction: column;
}

.advantages__title {
  color: var(--dark-color);
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 48px;
}

.advantages__blocktext {
  display: flex;
  margin-bottom: 100px;
}

.advantages__ls {
  max-width: 804px;
}

.advantages__subtitle {
  color: var(--dark-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 119.2307692308%;
  margin-bottom: 32px;
}
.advantages__subtitle > span {
  font-size: 26px;
  font-weight: 600;
  line-height: 119.2307692308%;
}

.advantages__list {
  padding-left: 45px;
}

.advantages__list li {
  list-style-image: url("../../assets/icon/Done.svg");
}

.advantages__list-item {
  color: var(--dark-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 119.2307692308%;
}
.advantages__list-item:not(:last-child) {
  margin-bottom: 32px;
}

.advantages__ticket-block {
  display: flex;
  justify-content: space-between;
}
.advantages__ticket-block > li {
  padding: 48px;
  background-color: var(--yellow-color);
  width: 684px;
  height: 593px;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 20px;
}
.advantages__ticket-block > li > p {
  color: var(--dark-color);
  font-size: 26px;
  font-weight: 600;
  line-height: 119.2307692308%;
  margin-bottom: 32px;
}
.advantages__ticket-block > li > span {
  color: var(--dark-color);
  font-size: 26px;
  font-weight: 400;
  line-height: 119.2307692308%;
}

.weight {
  margin-top: -163px;
  background-color: #f3f6f9;
  padding-bottom: 100px;
}

.weight__container {
  padding-top: 263px;
}

.weight__title {
  color: var(--dark-color);
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 48px;
}

.weight__subtitle {
  color: var(--dark-color);
  font-size: 26px;
  font-weight: 400;
  line-height: 119.2307692308%;
  margin-bottom: 32px;
}
.weight__subtitle > span {
  font-weight: 600;
}

.swiper {
  max-width: 1400px;
  margin: 0 auto;
  height: 720px;
}

.swiper-slide {
  max-width: 684px;
  height: 682px;
  background-color: var(--white-color);
  padding: 40px;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.swiper-slide > p {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}
.swiper-slide > img {
  width: 604px;
  height: 322px;
}
.swiper-slide > span {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 0px);
}

.answer {
  background-color: var(--yellow-color);
}

.answer__content {
  display: flex;
  flex-direction: column;
}

.answer__block-top {
  display: flex;
}
.answer__block-top > img {
  flex: 1 0 100%;
}

.answer__blocktext {
  margin-top: 80px;
  flex: 1 0 50%;
}
.answer__blocktext > p {
  max-width: 644px;
  color: var(--dark-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 119.2307692308%;
  margin-bottom: 32px;
}

.answer__title {
  max-width: 644px;
  color: var(--dark-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 32px;
}

.answer__list {
  padding-left: 45px;
}

.answer__list li {
  list-style-image: url("../../assets/icon/Done.svg");
}

.answer__list-item {
  max-width: 631px;
  font-size: 24px;
  font-weight: 400;
  line-height: 129.1666666667%;
}
.answer__list-item:not(:last-child) {
  margin-bottom: 32px;
}

.answer__block-bottom {
  display: flex;
}
.answer__block-bottom > img {
  flex: 0 1 auto;
}

.bottom-ls {
  display: flex;
  justify-content: flex-end;
  flex: 0 1 50%;
}
.bottom-ls > img {
  margin-left: -100px;
}

.answer__title-2 {
  width: 644px;
}

.bottom-rs {
  max-width: 644px;
  padding-top: 60px;
  padding-left: 56px;
  flex: 0 1 50%;
}
.bottom-rs > p {
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  margin-bottom: 24px;
}

.faq {
  background-color: #f3f6f9;
}

.faq__container {
  padding-top: 106px;
  padding-bottom: 100px;
}

.faq__content {
  width: 100%;
}

.tabs__items {
  display: flex;
}

.tabs__item {
  height: 78px;
  width: 275px;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-color);
  font-size: 28px;
  font-weight: 400;
  line-height: 135.7142857143%;
}
.tabs__item > span {
  position: relative;
  z-index: 2;
}

.tabs__body {
  padding: 48px 60px 60px 60px;
  background-color: var(--white-color);
  border-radius: 0px 20px 20px 20px;
}

.tabs__block {
  position: relative;
  display: none;
  background-color: var(--white-color);
}
.tabs__block:target {
  display: block;
}
.tabs__block::before {
  content: "";
  height: 78px;
  width: 275px;
  position: absolute;
  top: -126px;
  border-radius: 20px 20px 0px 0px;
}
.tabs__block:nth-child(1)::before {
  background-color: var(--white-color);
  left: -60px;
}
.tabs__block:nth-child(2)::before {
  background-color: var(--white-color);
  left: 216px;
}
.tabs__block > span:last-child {
  font-size: 22px;
  font-weight: 400;
  line-height: 119.2307692308%;
}

.faq__title {
  color: var(--dark-color);
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 32px;
}

.faq__subtitle {
  color: var(--dark-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 119.2307692308%;
  margin-bottom: 28px;
}
.faq__subtitle > span {
  font-weight: 600;
}

.faq__list li {
  list-style-image: url("../../assets/icon/Done.svg");
  margin-bottom: 29px;
}

.faq__list-item {
  margin-left: 45px;
}
.faq__list-item:not(:last-child) {
  margin-bottom: 17px;
}

.faq__textblock {
  color: var(--dark-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 119.2307692308%;
  margin-bottom: 28px;
}
.faq__textblock > span {
  font-weight: 600;
}

.item-how-list {
  margin: 0px;
  padding-left: 45px;
  line-height: 31px;
}

.item-how-list:not(:last-child) {
  margin-bottom: 24px;
}

.choose-1 {
  background-image: url("../../assets/icon/num1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

.choose-2 {
  background-image: url("../../assets/icon/num2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

.choose-3 {
  background-image: url("../../assets/icon/num3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

.choose-4 {
  background-image: url("../../assets/icon/num4.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top;
}

.choose-5 {
  background-image: url("../../assets/icon/num5.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

.choose-6 {
  background-image: url("../../assets/icon/num6.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

.choose-7 {
  background-image: url("../../assets/icon/num7.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

.form__info {
  padding: 60px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 8px;
}
.form__info > p {
  color: var(--dark-color);
  font-size: 26px;
  font-weight: 400;
  line-height: 119.2307692308%;
}
.form__info > p > span {
  font-weight: 600;
}

.form__body {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 53px;
}

.form__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form__item > select {
  font-size: 24px;
  font-weight: 400;
  line-height: 119.2307692308%;
  text-align: left;
  background-repeat: no-repeat;
  background-position: right center;
}
.form__item > select > option {
  font-size: 26px;
  font-weight: 400;
  line-height: 119.2307692308%;
  text-align: left;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 20px;
}

select::-ms-expand {
  display: none;
}

.form__label {
  color: #4a585e;
  font-size: 22px;
  font-weight: 400;
  line-height: 118.1818181818%;
  text-align: left;
}

.form__input {
  box-sizing: border-box;
  border: 0.5px solid var(--blue-color);
  border-radius: 10px;
  background: var(--white-color);
  padding: 12px 24px;
  height: 56px;
  font-size: 22px;
}
.form__input::-moz-placeholder {
  color: #b3c8d1;
  font-size: 22px;
  font-weight: 400;
  line-height: 140.9090909091%;
  text-align: left;
}
.form__input::placeholder {
  color: #b3c8d1;
  font-size: 22px;
  font-weight: 400;
  line-height: 140.9090909091%;
  text-align: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hr-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}
.hr-bar > hr {
  border: 1px solid var(--blue-color);
  max-width: 582px;
}
.hr-bar > span {
  color: #4a585e;
  font-size: 26px;
  font-weight: 400;
  line-height: 119.2307692308%;
}

textarea {
  resize: none;
}

.form__textarea {
  box-sizing: border-box;
  border: 0.5px solid var(--blue-color);
  border-radius: 10px;
  background: var(--white-color);
  width: 798px;
  height: 346px;
  font-size: 26px;
  padding: 11px 24px 12px 24px;
}
.form__textarea::-moz-placeholder {
  color: #b3c8d1;
  font-size: 22px;
  font-weight: 400;
  line-height: 119.2307692308%;
}
.form__textarea::placeholder {
  color: #b3c8d1;
  font-size: 22px;
  font-weight: 400;
  line-height: 119.2307692308%;
}

.price__item-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price__item-col > input {
  width: 322px;
}
.price__item-col > div > span {
  margin-left: 12px;
  color: #4a585e;
  font-size: 22px;
  font-weight: 400;
  line-height: 118.1818181818%;
}
.price__item-col > div > input[type=checkbox] {
  width: 24px;
  height: 24px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: initial;
  border: 1px solid var(--blue-color);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.price__item-col > div > input[type=checkbox]:checked::after {
  content: url("../../assets/icon/checked.svg");
  position: absolute;
  left: 3px;
  top: 2px;
}

input[type=file] {
  width: 335px;
  height: 56px;
  box-sizing: border-box;
  border: 2px solid var(--blue-color);
  border-radius: 50px;
  padding: 16px 36px;
  background-color: inherit;
  color: var(--blue-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
}

input[type=file] {
  display: none;
}

.custom-file-upload {
  text-align: center;
  width: 335px;
  height: 56px;
  box-sizing: border-box;
  border: 2px solid var(--blue-color);
  border-radius: 50px;
  padding: 16px 36px;
  background-color: inherit;
  color: var(--blue-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 7px;
}

.item-confirm {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.item-confirm > span {
  color: #4a585e;
  font-size: 22px;
  font-weight: 400;
  line-height: 118.1818181818%;
}

.confirm-body {
  margin-bottom: 0;
}

.advertisment__btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 80px;
}

@font-face {
  font-family: "SFProRounded";
  src: url("../../assets/fonts/SF-Pro-Rounded-Semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "SFProText";
  src: url("../../assets/fonts/SF-Pro-Text-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "SFProText";
  src: url("../../assets/fonts/SF-Pro-Text-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "SFProText";
  src: url("../../assets/fonts/SF-Pro-Text-Semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "SFProText";
  src: url("../../assets/fonts/SF-Pro-Text-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
:root {
  --white-color: #ffffff;
  --blue-color: #0297d4;
  --black-color: #000000;
  --yellow-color: #fff5cc;
  --grey-color: #f2f4f8;
  --lightblue-color: #36acde;
  --darkblue-color: #077aa9;
  --bluetext-color: #6ad3ff;
  --darkgreen-color: #586c75;
  --grey-background: #f5f5f5;
}