@font-face {
	font-family: "SFProRounded";
	src: url("../../assets/fonts/SF-Pro-Rounded-Semibold.woff2") format("woff2");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "SFProText";
	src: url("../../assets/fonts/SF-Pro-Text-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "SFProRounded";
	src: url("../../assets/fonts/SF-Pro-Text-Medium.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "SFProRounded";
	src: url("../../assets/fonts/SF-Pro-Text-Semibold.woff2") format("woff2");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "SFProRounded";
	src: url("../../assets/fonts/SF-Pro-Text-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
}
