@import "../components/ui";

//==================================Banner=====================================

.banner {
	background-color: var(--grey-background);
}
.banner__container {
}
.banner-bg {
	position: relative;
	height: 142px;
	width: 100%;
	background-color: var(--darkgreen-color);
	span {
		text-decoration: underline;
		color: var(--bluetext-color);
	}
}
.banner-bg {
	h1 {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		color: var(--white-color);
		font-size: 50px;
		line-height: calc(60 / 50 * 100%);
		letter-spacing: 0%;
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.banner-bg_bottom,
.banner-bg_top {
	background-position: center;
	background-size: contain;
	background-repeat: repeat;
	height: 71px;
	width: 100%;
}
.banner-bg_top {
	background-image: url("../../assets/icon/truck1.png");
}
.banner-bg_bottom {
	background-image: url("../../assets/icon/truck2.png");
}

.banner__content {
	padding: 90px 0 80px 0;
}
.banner__list {
	list-style-type: none;
	> li:not(:last-child) {
		margin-bottom: 44px;
	}
}
.banner__list-item {
	width: 100%;
	height: 526px;
	background-color: var(--white-color);
	border: none;
	border-radius: 20px;
	box-shadow: 2px 2px 10px 2px rgba(39, 52, 58, 0.15);
	padding: 40px 48px;
	display: flex;
	flex-direction: column;
	gap: 28px;
	p {
		color: var(--black-color);
		font-size: 32px;
		font-weight: 600;
		line-height: calc(38 / 32 * 100%);
	}
	span {
		color: var(--black-color);
		font-size: 20px;
		font-weight: 400;
		line-height: calc(24 / 20 * 100%);
	}
}
.banner__block {
	display: flex;
	gap: 28px;
}
.ev-param {
	list-style-type: none;
	> li:not(:last-child) {
		margin-bottom: 12px;
	}
}
.ev-param-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 56px;
	width: 498px;
	padding: 16px 20px;
	background-color: var(--grey-color);
	border: none;
	border-radius: 10px;
	span {
		color: #777777;
		font-size: 20px;
		font-weight: 400;
		line-height: calc(24 / 20 * 100%);
	}
	& span:last-child {
		font-weight: 600;
	}
}
.banner__btn-block {
	width: 100%;
	display: flex;
	flex-direction: column;
	a {
		display: flex;
		justify-content: center;
		gap: 12px;
		align-items: center;
	}
	> a:nth-child(2) {
		gap: 8px;
	}
}
.banner-btn:not(:last-child) {
	margin-bottom: 12px;
}
.banner__btn-block a:nth-child(2) {
	margin-bottom: 21px;
}
.banner__stop {
	background-color: var(--yellow-color);
	border: none;
	border-radius: 10px;
	height: 92px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 16px 20px;
	margin-bottom: 21px;
	> span:nth-child(1) {
		display: flex;
		gap: 8px;
		align-items: center;
		color: #777777;
		font-weight: 400;
		line-height: calc(24 / 20 * 100%);
	}
	> span:nth-child(2) {
		color: #1b1e1f;
		font-weight: 400;
		line-height: calc(24 / 20 * 100%);
	}
}
.ev-btn {
	background-color: inherit;
	border-radius: 50px;
	box-sizing: border-box;
	height: 69px;
	border: 1px solid var(--blue-color);
	padding: 16px 36px;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 4px;
	transition: all 0.3s ease 0s;
	> span:first-child {
		color: var(--blue-color);
		font-size: 12px;
		font-weight: 500;
		line-height: calc(14 / 12 * 100%);
	}
	> span:last-child {
		color: var(--blue-color);
		font-size: 16px;
		font-weight: 400;
		text-decoration-line: underline;
		line-height: calc(19 / 16 * 100%);
	}
}
.ev-btn:hover {
	background-color: var(--blue-color);
	span {
		color: var(--white-color);
	}
}
.ev-btn:focus:active {
	background-color: var(--darkblue-color);
	span {
		color: var(--white-color);
	}
}
.banner__page-list {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	a {
		width: 52px;
		height: 52px;
		border-radius: 6px;
		border: 1px solid var(--blue-color);
		color: var(--blue-color);
		font-size: 26px;
		font-weight: 600;
		line-height: calc(31 / 26 * 100%);
		text-align: center;
		text-transform: uppercase;
		padding: 10px;
		> li {
			display: flex;
			justify-content: center;
		}
		&:not(:last-child) {
			margin-right: 18px;
		}
	}
	& a:nth-child(1) {
		background-color: var(--blue-color);
		color: var(--white-color);
	}
	& a:last-child {
		padding: 13px 10px 10px 10px;
	}
}

//==================================Banner Media=====================================

//==================================callCheaply=====================================

.callCheaply {
}
.callCheaply__banner {
	position: relative;
}
.__container {
}
.banner-info {
	position: absolute;
	height: 100%;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	display: flex;
	min-width: 1430px;
	justify-content: center;
	align-items: center;
	p {
		color: var(--white-color);
		font-size: 40px;
		font-weight: 600;
		line-height: calc(48 / 40 * 100%);
		margin: 0 121px 0 11px;
	}
}
.callCheaply__container {
	padding: 95px 15px 69px 15px;
}
.callCheaply__content {
	display: flex;
	justify-content: space-between;
}
.callCheaply__block-text {
	max-width: 698px;
}
.block-text {
	display: flex;
	flex-direction: column;
	gap: 48px;
	align-items: center;
	padding: 10px 0;
}
.block-text__title {
	color: var(--dark-color);
	font-size: 40px;
	font-weight: 600;
	line-height: calc(48 / 40 * 100%);
}
.block-text__text {
	font-weight: 400;
	font-size: 26px;
	line-height: calc(31 / 26 * 100%);
}

//==================================callCheaply Media=====================================

//==================================NeedToKnow=====================================

.needToKnow {
	background-color: var(--yellow-color);
}
.needToKnow__container {
	padding: 100px 15px;
}
.needToKnow__content {
	display: flex;
	flex-direction: column;
	h2 {
		color: var(--dark-color);
		font-size: 40px;
		font-weight: 600;
		line-height: calc(48 / 40 * 100%);
		margin-bottom: 48px;
	}
}
.needToKnow__images {
	display: flex;
	width: 1055px;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 32px;
}
.needToKnow__blocktext {
	display: flex;
	gap: 40px;
	> p {
		width: 680px;
		font-size: 26px;
		font-weight: 400;
		line-height: calc(31 / 26 * 100%);
	}
}

//==================================NeedToKnow Media===================================

//==================================Price=====================================
.price {
	background-color: #f3f6f9;
}
.price__container {
	padding-top: 100px;
	padding-bottom: 100px;
}
.price__content {
	display: flex;
	flex-direction: column;
	h2 {
		color: var(--dark-color);
		font-size: 40px;
		font-weight: 600;
		line-height: calc(48 / 40 * 100%);
		margin-bottom: 48px;
	}
	p {
		color: var(--dark-color);
		font-size: 26px;
		font-weight: 400;
		line-height: calc(31 / 26 * 100%);
		margin-bottom: 105px;
		> span {
			font-weight: 600;
			font-size: 26px;
			line-height: 1px;
		}
	}
}
.price__block-columns {
	display: flex;
	gap: 24px;
}
.price__column-block {
	position: relative;
	width: 332px;
	height: 271px;
	background-color: var(--blue-color);
	border-radius: 20px;
	padding: 31px 20px 70px 20px;
	display: flex;
	flex-direction: column;
	gap: 17px;
	z-index: 10;
	h3 {
		color: var(--white-color);
		font-size: 20px;
		font-weight: 600;
		line-height: calc(24 / 20 * 100%);
		text-align: center;
	}
	p {
		color: var(--white-color);
		font-size: 18px;
		font-weight: 400;
		line-height: calc(21 / 18 * 100%);
		text-align: center;
	}
}
.price-column {
	canvas {
		position: absolute;
		width: 100%;
		z-index: -1;
		height: 100%;
		top: -75px;
		left: 50%;
		transform: translate(-50%, 0);
		background-image: url("../../assets/icon/1.svg");
		background-repeat: no-repeat;
		background-position: center 20%;
		background-size: auto;
		width: 149px;
		height: 149px;
		border-radius: 50%;
		background-color: var(--blue-color);
	}
}
.block-canvas-2 canvas {
	background-image: url("../../assets/icon/2.svg");
}
.block-canvas-3 canvas {
	background-image: url("../../assets/icon/3.svg");
}
.block-canvas-4 canvas {
	background-image: url("../../assets/icon/4.svg");
}
//==================================Price Media=====================================

//==================================Advantages=====================================
.advantages {
	position: relative;
}
.advantages__container {
	padding-top: 100px;
}
.advantages__content {
	display: flex;
	flex-direction: column;
}
.advantages__title {
	color: var(--dark-color);
	font-size: 40px;
	font-weight: 600;
	line-height: calc(48 / 40 * 100%);
	margin-bottom: 48px;
}
.advantages__blocktext {
	display: flex;
	margin-bottom: 100px;
}
.advantages__ls {
	max-width: 804px;
}
.advantages__subtitle {
	color: var(--dark-color);
	font-size: 24px;
	font-weight: 400;
	line-height: calc(31 / 26 * 100%);
	margin-bottom: 32px;
	> span {
		font-size: 26px;
		font-weight: 600;
		line-height: calc(31 / 26 * 100%);
	}
}
.advantages__list {
	padding-left: 45px;
}
.advantages__list li {
	list-style-image: url("../../assets/icon/Done.svg");
}
.advantages__list-item {
	color: var(--dark-color);
	font-size: 22px;
	font-weight: 400;
	line-height: calc(31 / 26 * 100%);
	&:not(:last-child) {
		margin-bottom: 32px;
	}
}

.advantages__ticket-block {
	display: flex;
	justify-content: space-between;
	> li {
		padding: 48px;
		background-color: var(--yellow-color);
		width: 684px;
		height: 593px;
		display: flex;
		flex-direction: column;
		border: none;
		border-radius: 20px;
		> p {
			color: var(--dark-color);
			font-size: 26px;
			font-weight: 600;
			line-height: calc(31 / 26 * 100%);
			margin-bottom: 32px;
		}
		> span {
			color: var(--dark-color);
			font-size: 26px;
			font-weight: 400;
			line-height: calc(31 / 26 * 100%);
		}
	}
}
//===================================Advantages Media====================================

//===================================Weight====================================

.weight {
	margin-top: -163px;
	background-color: #f3f6f9;
	padding-bottom: 100px;
}
.weight__container {
	padding-top: 263px;
}
.weight__content {
}
.weight__title {
	color: var(--dark-color);
	font-size: 40px;
	font-weight: 600;
	line-height: calc(48 / 40 * 100%);
	margin-bottom: 48px;
}
.weight__subtitle {
	color: var(--dark-color);
	font-size: 26px;
	font-weight: 400;
	line-height: calc(31 / 26 * 100%);
	> span {
		font-weight: 600;
	}
	margin-bottom: 32px;
}
.swiper {
	max-width: 1400px;
	margin: 0 auto;
	height: 720px;
}
.swiper-wrapper {
}
.swiper-slide {
	max-width: 684px;
	height: 682px;
	background-color: var(--white-color);
	padding: 40px;
	border: none;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	> p {
		color: var(--dark-color);
		font-size: 20px;
		font-weight: 600;
		line-height: calc(24 / 20 * 100%);
	}
	> img {
		width: 604px;
		height: 322px;
	}
	> span {
		color: var(--dark-color);
		font-size: 20px;
		font-weight: 400;
		line-height: calc(24 / 20 * 100%);
	}
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: var(--swiper-pagination-bottom, 0px);
}
.swiper-button-prev {
}
.swiper-button-next {
}

//===================================Weight Media====================================

//===================================Answer==========================================

.answer {
	background-color: var(--yellow-color);
}
.answer__container {
}
.answer__content {
	display: flex;
	flex-direction: column;
}
.answer__block-top {
	display: flex;
	> img {
		flex: 1 0 100%;
	}
}
.answer__blocktext {
	margin-top: 80px;
	flex: 1 0 50%;
	> p {
		max-width: 644px;
		color: var(--dark-color);
		font-size: 24px;
		font-weight: 400;
		line-height: calc(31 / 26 * 100%);
		margin-bottom: 32px;
	}
}
.answer__title {
	max-width: 644px;
	color: var(--dark-color);
	font-size: 40px;
	font-weight: 700;
	line-height: calc(48 / 40 * 100%);
	margin-bottom: 32px;
}
.answer__list {
	padding-left: 45px;
}
.answer__list li {
	list-style-image: url("../../assets/icon/Done.svg");
}
.answer__list-item {
	max-width: 631px;
	font-size: 24px;
	font-weight: 400;
	line-height: calc(31 / 24 * 100%);
	&:not(:last-child) {
		margin-bottom: 32px;
	}
}
.answer__block-bottom {
	display: flex;
	> img {
		flex: 0 1 auto;
	}
}
.bottom-ls {
	flex: 0 1 50%;
}
.answer__title-2 {
	width: 644px;
}
.bottom-rs {
	max-width: 644px;
	padding-top: 60px;
	padding-left: 56px;
	flex: 0 1 50%;
	> p {
		font-size: 24px;
		font-weight: 500;
		line-height: 31px;
		margin-bottom: 24px;
	}
}

//===================================Answer Media====================================
