@import "../components/ui";

[class*="__container"] {
	max-width: 1430px;
	margin: 0 auto;
	padding: 0 15px;
}

[class*="&_container"] {
	max-width: 828px;
	margin: 0 auto;
	padding: 0 15px;
}

body._lock {
	overflow: hidden;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

body {
	font-family: $ff2;
	font-size: 20px;
}
