[class*="__container"] {
	max-width: 1430px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

body {
	// font-family: $ff1;
	font-size: 20px;
}
