// ПЕРЕМЕННЫЕ>

$md1: 992.98px;
$md2: 767.98px;
$md3: 479.98px;
$minwidth: 320px;
$ff1: SFProRounded;
$ff2: SFProText;

:root {
	--white-color: #ffffff;
	--blue-color: #0297d4;
	--black-color: #000000;
	--yellow-color: #fff5cc;
	--grey-color: #f2f4f8;
}

// Break-points

//$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
// $tablet: em(991.98); // Планшеты, некоторые мобильные устройства в горизонтальном положении
// $mobile: em(767.98); // Телефоны
// $mobileSmall: em(479.98); // Маленькие телефоны
